/**
* common css here 
*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/**
* banner section css
*/
.banner-sec {
    background-color: #2D25A0;
}
.banner-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 667px;
    width: 90%;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
}
.banner-title {
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    color: #FFFFFF;
}
.banner-button {
    background-color: #E02C6D;
    border: none;
    padding: 10px 45px 10px 24px;
    position: relative;
}
.banner-content a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500px;
}
.banner-image img {
    width: 556px;
    height: 438px;
}
.banner-content .fa-arrow-right {
    font-size: 14px;
    position: absolute;
    top: 16px;
    right: 23px;
}

/*
* Animation add here
*/
@keyframes kenburns-top {
    0% {
      transform: scale(1) translateY(0);
      transform-origin: 50% 16%;
    }
    100% {
      transform: scale(1.25) translateY(-15px);
      transform-origin: top;
    }
  }
  

.banner-sec:hover .banner-image img{
    animation: kenburns-top 5s ease-out both;
}

/**
* players section css
*/
.container{
    width: 90%;
    margin: 0 auto;
}
.players-sec {
    display: grid;
    grid-template-columns: repeat(3, 330px);
    grid-gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 70px 0px;
}
.player {
    height: 474px;
    padding: 15px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 40px rgb(0, 0,0, 0.15);
}
.player img {
    width: 300px;
    height: 256px;
}
.player-name {
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    color: #18191f;
}
.player-content {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #6c6c6c;
    text-align: left;
}
/**
* features section
*/
.features-sec {
    padding: 50px 0px 100px;
}
.section-title .subtitle {
    color: #E02C6D;
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
    letter-spacing: 2.4px;
}
.section-title .title {
    color: #262f3e;
    font-size: 60px;
    line-height: 64px;
    font-weight: 700;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    margin-top: 0;
}
.features-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.feature {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 40px rgb(0 0 0 / 15%);
    padding: 30px;
}
.feature-img img {
    max-width: 70px;
}
.feature-content {
    padding-left: 50px;
}
.feature-title {
    color: #262f3e;
    font-size: 18px;
    line-height: 23px;
    font-weight: 500;
}
.feature-content p {
    margin-top: -10px;
    color: #797e87;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}
/**
* instagram section
*/
.instagram-sec {
    padding: 50px 0px 70px;
}
.instagram_images {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-template-rows: 265px;
}
.instagram_images img {
    width: 100%;
}
.instagram_images_item {
    position: relative;
}
.like_counter {
    display: none;
    position: absolute;
    top: 0;
}
.like_counter span {
    margin-right: 5px;
}
.like_counter span i.fas {
    color: #FFFFFF;
    font-size: 12px;
    margin-right: 3px;
}
.like_counter > span > span {
    color: #FFFFFF;
    font-size: 12px;
}
/* .instagram_images_item:hover .like_counter {
    display: flex;
    background-color: rgb(0 0 0 / 35%);
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
} */

/**
* footer section css
*/
.copyright-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px 30px;
}
.logo-sec img {
    width: 483px;
    height: 110px;
}
.social-links a {
    background-color: #E7E7E8;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 14px;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    color: #969bab;
}
p.copyright-content {
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}
/**
* media queries for mobile
*/
@media (max-width: 425px) {

    /**
    * Banner section 
    */
    .banner-box{
        grid-template-columns: 1fr; 
        grid-template-rows: auto;
        width: 100%;
        grid-row-gap:50px;
    }
    .banner-title {
        font-size: 36px;
        line-height: 45px;
    }
    .banner-image img {
        width: 100%;
        height: 100%;
    }
    .banner-sec:hover .banner-image img{
        animation: none;
    }

    /**
    * Players Section
    */
    .players-sec {
        grid-template-columns: repeat(1, 330px);
    }

    /**
    * Features Section
    */
    .section-title .title {
        font-size: 36px;
        line-height: 45px;
    }

    .features-box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }
    /**
    * instagram section
    */
    .instagram-sec{
        padding: 0px;
    }
    .instagram_images {
        grid-template-columns: 1fr;
        grid-template-rows: 265px;
        grid-row-gap: 30px;
    }
    .extra {
        margin-top: 125px;
    }

    /**
    * Fooeter Section 
    */
    .copyright-sec {
        padding-top: 30px;
    }
    .logo-sec img {
        width: 330px;
    }






}