/**
* common css here 
*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/**
* banner section css
*/
/* .banner-sec {
    display: flex;
    align-items: center;
} */

.banner-sec {
    background-color: #2D25A0;
}
.banner-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 667px;
    width: 90%;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
}
.banner-title {
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    color: #FFFFFF;
}
.banner-button {
    background-color: #E02C6D;
    border: none;
    padding: 10px 45px 10px 24px;
    position: relative;
}
.banner-content a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500px;
}
.banner-image img {
    width: 556px;
    height: 438px;
}
.banner-content .fa-arrow-right {
    font-size: 14px;
    position: absolute;
    top: 16px;
    right: 23px;
}

/**
* players section css
*/
.container{
    width: 90%;
    margin: 0 auto;
}
.players-sec {
    display: grid;
    grid-template-columns: repeat(3, 330px);
    grid-gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 70px 0px;
}
.player {
    height: 474px;
    padding: 15px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 40px rgb(0, 0,0, 0.15);
}
.player img {
    width: 300px;
    height: 256px;
}
.player-name {
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    color: #18191f;
}
.player-content {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #6c6c6c;
    text-align: left;
}
/**
* footer section css
*/
.copyright-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px 30px;
}
.logo-sec img {
    width: 483px;
    height: 110px;
}
.social-links a {
    background-color: #E7E7E8;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 14px;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    color: #969bab;
}
p.copyright-content {
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}